<%= form_for @daub do |f| %>

    <fieldset class="text-data">    
        <legend>Original Text:</legend>

        <fieldset class="category-wrapper">
            <legend>Category:</legend>

            <div>
                <%= f.radio_button :category, "essay" %>
                <%= f.label :category_essay, "Essay" %>
                <%= f.radio_button :category, "interview" %>
                <%= f.label :category_interview, "Interview" %>
                <%= f.radio_button :category, "memoir" %>
                <%= f.label :category_memoir, "Memoir" %>
                <%= f.radio_button :category, "novel" %>
                <%= f.label :category_novel, "Novel" %>
                <%= f.radio_button :category, "op-ed" %>
                <%= f.label :category_op_ed, "Op-Ed" %>
                <%= f.radio_button :category, "poetry" %>
                <%= f.label :category_poetry, "Poetry" %>
                <%= f.radio_button :category, "review" %>
                <%= f.label :category_review, "Review" %>
                <%= f.radio_button :category, "short-story" %>
                <%= f.label :category_short_story, "Short Story" %>
                <%= f.radio_button :category, "others" %>
                <%= f.label :category_others, "Others" %>
            </div>
        </fieldset>

        <fieldset class="genre-wrapper">
            <legend>Genre:</legend>

            <div>
                <% @genres.each do |g| %>
                   <%= f.check_box(:genre, {:multiple => true}, g, nil) %>
                    <%= f.label g %>
                <% end %>
            </div>
        </fieldset>
        
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>

            <%= f.label :text_url, "Link" %>
            <%= f.url_field :text_url %>

            <%= f.label :author %>
            <%= f.text_field :author %>

            <%= f.label :publication_date, "Publication Date" %>
            <%= f.date_field :publication_date %>

            <%= f.label :published_by, "Published By" %>
            <%= f.text_field :published_by %>

            <%= f.hidden_field :image_url %>
        </div>
    </fieldset>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit "Save" %>

<% end %>