<!DOCTYPE html>
<html>
  <head>
    <title>Dauber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1> <%= link_to "Dauber", root_path %> </h1>

    <nav>
      <%= link_to "Create", new_daub_path %>
    </nav>

    <%= yield %>
  </body>
</html>
